.control-button {
    height: 20px;
    width: 20px;
    cursor: pointer;
    color: #fff;
    transition: all 0.2s ease-in-out;

    &:hover {
        filter: drop-shadow(0 0 10px rgb(242, 238, 6));
        color: #ffffffce;
    }
}
